<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>WebQuiz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>de.quiz.Servlets.PlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/PlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>de.quiz.Servlets.CatalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/CatalogServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>de.quiz.Listener.CatalogServletContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>de.quiz.Listener.SessionListener</listener-class>
  </listener><servlet>
    <servlet-name>LogicServlet</servlet-name>
    <servlet-class>de.quiz.Servlets.LogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicServlet</servlet-name>
    <url-pattern>/LogicServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  
</web-app>